.personal-list {
  border: rgb(255, 255, 255) 1px solid;
  height: 100%;

  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  border: 1px solid rgba(255, 255, 255, 0.88);
  display: grid;
  grid-template-rows: 1fr 15fr;
  justify-content: center;
}

.personal-title {
 filter: grayscale(0);
 transform: gr;
}